{% extends 'layout.html.twig' %}

{% block title %}Photo du jour - {{ parent() }}{% endblock %}
{% block content %}
    <a href="/" uk-icon="icon: arrow-left; ratio: 2" class="uk-icon-link uk-align-left uk-margin-left" style="color: #FFB285FF">Accueil</a>
    <img src="/assets/images/logo.png" alt="logo" class="logo">

    <div class="uk-align-center uk-padding-large uk-light uk-margin-remove" uk-grid>

        <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
            <img src="{{ picture.url }}" alt="{{ picture.title }}" >
            <div class="uk-position-center">
                <div class="uk-transition-slide-top-small"><h4 class="uk-margin-remove">{{ picture.title }}</h4></div>
                <div class="uk-transition-slide-bottom-small"><h4 class="uk-margin-remove">{{ picture.date }}</h4></div>
                <div class="uk-transition-slide-bottom-small"><p class="uk-text-light uk-padding-small">{{ picture.explanation }}</p></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
