{% extends 'layout.html.twig' %}

{% block content %}
    <div class="uk-padding-large uk-background-muted">

        <form method="POST" class="uk-form-width-small uk-flex-inline ">
            <input class ="uk-number uk-form-small uk-width-auto" type="number" id="sol" name="sol"
                   min="0" max="1000">

            <select class="uk-select uk-form-small uk-width-auto" name="roover">
                <option value="Curiosity">Curiosity</option>
                <option value="Opportunity">Opportunity</option>
                <option value="Spirit">Spirit</option>
            </select>

            <select class="uk-select uk-form-small uk-width-auto" name="cam">
                <option value="navcam">Nav Camera</option>
                <option value="fhaz">Front Camera</option>
                <option value="rhaz">Back Camera</option>
            </select>

            <input class="uk-input uk-form-small uk-width-auto" type="submit" value="chercher">
        </form>

        {% for picture in pictures %}
            <!-- affiche une image au hasard -->
            <div class=" uk-grid-match  uk-grid-match uk-flex-center" uk-grid>
                <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
                    <h3 class="uk-card-title">Picture of {{picture.0.rover.name}}</h3>
                    <img class="uk-card-media" src="{{picture[random(picture|length -1)]['img_src']}}" width="300" height="300" alt="">
                    <p>Picture took with the {{picture.0.camera.full_name}} at {{picture.0.earth_date}}</p>
                </div><br>
                <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m ">
                    <h3 class="uk-card-title">Picture of {{picture.0.rover.name}}</h3>
                    <img class="uk-card-media" src="{{picture[random(picture|length -1)]['img_src']}}" width="300" height="300" alt="">
                    <p>Picture took with the {{picture.0.camera.full_name}} at {{picture.0.earth_date}}</p>
                </div>
            </div>
            <hr>
            <!-- affiche toutes les images -->
            <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-match" uk-grid>
                {% for pic in picture %}
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Picture of {{pic.rover.name}}</h3>
                        <img class="uk-card-media" src="{{pic.img_src}}" width="300" height="300" alt="">
                        <p>Picture took with the {{pic.camera.full_name}} at {{pic.earth_date}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
