{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" />
{% endblock %}

{% block content %}
    {#  <iframe src='https://mars.nasa.gov/layout/embed/image/insightweather/' width='800' height='530'  scrolling='no' frameborder='0'></iframe>#}
    <div class="uk-padding-large uk-background-muted">
        <h1>Evènements</h1>
        <div class="container">
            <div class="uk-card uk-card-default uk-card-body uk-width-auto uk-card-small">
                <h4 class="uk-card-title">Tempetes géomagnétiques</h4>
                {% for geo in storm %}
                    <div class="uk-card uk-card-default uk-card-body uk-width-auto uk-card-small uk-card-hover uk-background-muted">
                        <p><strong>Début de l'évènement :</strong> {{ geo.startTime}}</p>
                        {% for g in geo.allKpIndex %}
                            <p><strong>Intensité (Kp) :</strong>{{ g.kpIndex }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-width-auto uk-card-small">
                <h4 class="uk-card-title">Chocs inter-planetaires</h4>
                {% for shock in shocks %}
                    <div class="uk-card uk-card-default uk-card-body uk-width-auto uk-card-small uk-card-hover uk-background-muted">
                        <p><strong>Date de l'évènement :</strong> {{ shock.eventTime}}</p>
                        <p><strong>Localisation : </strong> {{ shock.location }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-width-auto uk-card-small">
                <h4 class="uk-card-title">Eruptions solaires</h4>
                {% for flare in solarFlare %}
                    <div class="uk-card uk-card-default uk-card-body uk-width-auto uk-card-small uk-card-hover uk-background-muted">
                        <p><strong>Date de début : </strong>{{ flare.beginTime}}</p>
                        <p><strong>Date de fin :</strong> {% if flare.endTime is not null %} {{ flare.endTime }} {% else %} pas de données {% endif %}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}